@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.form-cta-button {
    height: 36px;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    width: 100%;

    &--primary {
        border: none;
        background-color: $primary-color-Instock-Indigo;
        @include textStyle($primary-color-White, 0.8125rem, 1.25rem, 600);
        margin-left: 1rem;

        &:hover {
            background-color: $primary-color-Instock-Black;
        }
    }

    &--secondary {
        background-color: $primary-color-White;
        border: 1px solid $secondary-color-Cloud;
        @include textStyle($secondary-color-Slate, 0.8125rem, 1.25rem, 600);

        &:hover {
            border: 1px solid $primary-color-Instock-Indigo;
            color: $primary-color-Instock-Indigo;
        }
    }
}

