@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.add-warehouse-page {
    background-color: $primary-color-White;
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    margin: 0rem 1rem;

    @include tablet {
        margin: 0rem 2rem;
    }

    @include desktop {
        margin: 0rem 8.125rem;
    }
}

.new-warehouse-header {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 1.5rem;
    padding-top: 2rem;
    margin: 0rem 1.5rem;

    @include tablet {
        margin: 0rem 2rem;
    }

    @include desktop {
        margin: 0rem 2.5rem;
    }

    &__title {
        @include textStyle($primary-color-Instock-Black, 1.75rem, 2.25rem, 600);
        margin-left: 0.75rem;

        @include tablet {
            @include textStyle($primary-color-Instock-Black, 2rem, 2.5rem, 600);
        }
    }
}

.new-warehouse-form {
    &__input-sections {
        @include tablet {
            display: flex;
            border-top: 1px solid $secondary-color-Cloud;
            padding: 1.5rem 0rem;
        }

        @include desktop {
            padding: 2.625rem 0rem 0.375rem 0rem;
        }
    }

    &__buttons-container {
        background-color: rgba(247, 248, 249, 0.7);
        border-radius: 0px 0px 3px 3px;
        padding: 1rem 1.5rem;
        margin-top: 0.5rem;
        display: flex;
        

        @include tablet {
            margin: 0;
            padding: 1rem 2rem;
            justify-content: flex-end;
        }

        @include desktop {
            padding: 1rem 2.5rem;
        }
    }

    &__message {
        display: none;

        &--success {
            display: flex;
            margin: 0rem 1.5rem;
            @include textStyle($supporting-color-Green, 1.25rem, 1.75rem, 600);

            @include tablet {
                margin: 0rem 2rem;
                @include textStyle($supporting-color-Green, 1.5rem, 2rem, 600);
            }

            @include desktop {
                margin: 0rem 2.5rem;
            }
        }
    }
}